<div id="<%= dom_id idea %>">
  <div>
    <strong>Title:</strong>
    <%= idea.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= idea.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= idea.status %>
  </div>

</div>
